<h1>
  {{title}}
</h1>
<div *ngFor="let voto of votos">
  <input-component voto="{{voto.title}}" (addVoto)="addVoto($event)"></input-component>
</div>
<h3 gigant myHighlight>{{votacion}}</h3>

<h2>Conversor</h2>

<div>Count: <input [(ngModel)]="count" /></div>
<div>1 USD is equal : <input [(ngModel)]="factor"></div>
<p>
  oh is : {{count | ConversorPipe: factor}}
</p>

<ul>
  <li *ngFor="let ticket of tickets">
    <b>Ticket N: {{ticket.id}}</b> - {{ ticket.titulo }}
    <span myHighlight>[{{ticket.estado}}]</span>
  </li>
</ul>

<form #f="ngForm" (submit)="onSubmit(f.value)">
  <div>
    <label for="nameInput">Name</label>
    <input type="text" id="nameInput" placeholder="Name" name="name" ngModel />
  </div>
  <div>
    <label for="nameApellido">Name</label>
    <input type="text" id="nameApellido" placeholder="Surname" name="surname" ngModel />
  </div>
  <div>
    <label for="nameTwitter">Name</label>
    <input type="text" id="nameTwitter" placeholder="Twitter" name="twitter" ngModel />
  </div>
  <button type="submit">Submit</button>
</form>
